@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #3f4e52, #3d4444 );
}
main {
    margin: auto;
    padding: 0%;
    box-sizing: border-box ;
    image-rendering: auto;
    

}
ul{
    font-size: 5px;
    display: flex ;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    font-family:  Arial, Helvetica, sans-serif;
    cursor: pointer;
    list-style-type: none;
    padding: 0%;
    background-color: #313d3d;
    width: 100%;
    overflow: hidden;
    height: 8vg;
    letter-spacing: 3px;
    flex-direction: row;

    
}
h1{
    color: #3D5A73;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}
h2{
    color: azure;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    text-align: justify;
}
.foto{
    font-family: Arial, Helvetica, sans-serif;
    
}
.servicos h3{
    display: inline-flex ;
    
}
main li a {
    color: azure;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .10s ;
    font-size: 12px;
    text-transform: uppercase;
}
main li a:hover{
    background-color: rgb(34, 76, 87);
}
.imagens{
    display: inline-block   ;
    justify-content: space-between;
    
}       
    
p a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: azure;
    text-decoration: none;
    
    
}
p a :hover{
    display: inline-block;
    text-decoration: none;
    transition: background .10s;
    text-decoration: none;
}
h2{
    text-transform: uppercase;
    color: azure;
    font-size: 17px;
}

h3{
    text-transform: uppercase;
    color: azure;
    font-size: 17px;
}
h4{
    color: azure;
    text-transform: uppercase;
    font-size: 17px;
}






